* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.logo {
  width: 150px;
  height: 100px;
}

.home {
  background-color: black;
  height: 500px;
  opacity: 0.9px;
}
.home p {
  color: white;
  margin-left: 200px;
  font-family: "Proxima Nova", verdana, "Avenir Next";
  padding: 0px;
}
.home p:first-child {
  padding-top: 100px;
  font-size: 24px;
}
.home p:nth-child(2) {
  padding: 0px;
  font-size: 28px;
  color: darkorange;
}
.home p:nth-child(3) {
  font-size: 40px;
}
.home p:nth-child(4) {
  font-size: 12px;
  color: darkorange;
}

button {
  background-color: darkorange;
  border-radius: 5px;
  padding: 2px;
  margin-left: 200px;
}
.pizz {
  color: darkorange;
  font-style: italic;
  font-weight: bold;
}

.home-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 400px;
  float: right;
  margin-left: 300px;
}
.About-us {
  display: flex;
  height: 500px;
  width: 100%;
}
.about {
    align-items: center;
    font-size: 18px;
    font-family: poppin;
    align-items: center;
    padding-top: 50px;
}